.profile__edit-button {
  background-color: transparent;
  padding: 7px 0 0 8px;
  border: none;
  max-width: 24px;
  max-height: 24px;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 800px) {
  .profile__edit-button {
    padding: 16px 0 0 6px;
    max-width: 18px;
    max-height: 18px;
  }
}
