.profile__edit-button {
  padding: 12px 0 0 18px;
  border: none;
  text-decoration: none;
  background: #000;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 800px) {
  .profile__edit-button {
    padding: 32px 0 0 10px;
  }
}
