/* Remove this at end - link in index.css
@font-face {
  src: url(./Inter-Regular.woff);
  font-family: "Inter-Regular";
  font-weight: 400;
}

@font-face {
  src: url(./Inter-Medium.woff);
  font-family: "Inter-Medium";
  font-weight: 500;
}

@font-face {
  src: url(./Inter-Black.woff);
  font-family: "Inter-Black";
  font-weight: 900;
}*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap');

.page-container {
  background-color: #000;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 0 200px 0;
  position: relative;
}


.header {
  display:flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 45px 0 0;
  margin: 0;
}

.logo {
  padding: 0 0 40px 0;

}

.profile {
  padding: 40px 0 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 880px;
  margin: 0;
}

.profile__avatar {
  border-radius: 50%;
}

.profile__edit-box {
  padding: 0 0 0 30px;
}

.profile__group {
  display:flex;
  justify-content: center;

}

.profile__name {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  margin: 0;
}

.profile__edit-button {
  padding: 0 0 0 18px;
  border: none;
  text-decoration: none;
  background: #000;
}

.profile__edit-button:hover {
  opacity: .6;
}

.profile__edit-image {
  border: 1px solid #FFFFFF;
  padding: 6px 6px;
}

.profile__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.83;
  margin: 0;
  padding: 16px 0 0 0;
}

.profile__add-button {
  padding: 0 0 22px 144px;
  border: none;
  text-decoration: none;
  background: #000;

}

.profile__add-button:hover {
  opacity: .6;
}

.profile__add-image {
  border: 2px solid #FFFFFF;
  padding: 14px 64px;

}

.card__container {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 12px;
  padding: 50px 0 0 0;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;

}

.card {
  background: #fff;
  color: #000;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  max-width: 280px;
  max-height: 361px;
}

.card__image {
  max-width: 280px;
  border-radius: 10px 10px 0 0;
  margin: 0;
  padding: 0;
}

.card__caption {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.81;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 25px 15px 21px 31px;
  display: flex;
  justify-content: space-between;
}

.card__like-image{
  width: 21px;
  height: 19px;
  align-self: center;
}

.card__like-button {
  border: none;
  text-decoration: none;
  background: #fff;
}

.card__like-button:hover {
  opacity: .5;
}

.card__like-button:active {
  opacity: 2;
}

.footer {
  padding: 67px 0 60px 0;
  color: #545454;
  margin: 0;
}

.modal {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 30px;
  box-sizing: border-box;
  visibility: hidden;
  margin: 0;

}

.modal__box {
  margin: auto;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  z-index: 1;
  position: relative;
}

.modal_visible {
  visibility: visible;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 0 0 36px;
}

.form__name {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  padding: 34px 0 24px;
  text-align: start;
  margin: 0;
}

.form__input {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 30px 0 13px;
  width: 358px;

}

.form__save-button {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  background-color: #000;
  color: #fff;
  padding: 10px 100px;
  margin: 48px 0 0;
  width: 358px;
}

.form__close-button {
  background-image: url(./images/CloseBlk.png);
  background-color: #000;
  border: 1px solid #000;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
}

.form__close-button:hover {
  background-image: url(./images/CloseGray.png);
}

@media screen and (max-width: 1278px) {
  .page {
    padding: 0 100px 0;
  }

  .card__container {
    justify-content: space-evenly;
    column-gap: 17px;
  }
}

@media screen and (max-width: 800px) {
  .page {
    padding: 0 50px 0;
  }

  .profile {
    flex-direction: column;
  }

  .profile__group {
    display:flex;
    justify-content: center;

  }

  .profile__name {
    font-size: 22px;
    line-height: 27px;
    padding: 30px 0 0;
    text-align: center;
  }

  .profile__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 14px 0 0;
    text-align: center;
  }

  .profile__edit-box {
    padding: 0;
  }

  .profile__edit-image {
    padding: 3px 3px;
  }

  .profile__edit-button {
    padding: 32px 0 0 10px;
  }

  .profile__add-button{
    padding: 36px 0 0;
  }

  .profile__add-image {
    padding: 14px 124px;
  }

  .footer {
    padding: 50px 0 36px 0;
  }

  .modal__box {
    width: 282px;
    height: 322px;
  }

  .form {
    padding: 0 0 0 22px;
  }

  .form__input {
    width: 238px;
  }

  .form__save-button {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
  }

  .form__close-button {
    background-image: url(./images/CloseBlkSml.png);
    width: 26px;
    height: 26px;
    position: absolute;
    top: -40px;
    right: 0;
  }

  .form__close-button:hover {
    background-image: url(./images/CloseGraySml.png);
  }

}

@media screen and (max-width: 400px) {
  .page {
    padding: 0 19px 0;
  }
}
