/* Remove this at end - link in index.css
@font-face {
  src: url(./Inter-Regular.woff);
  font-family: "Inter-Regular";
  font-weight: 400;
}

@font-face {
  src: url(./Inter-Medium.woff);
  font-family: "Inter-Medium";
  font-weight: 500;
}

@font-face {
  src: url(./Inter-Black.woff);
  font-family: "Inter-Black";
  font-weight: 900;
}*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap');

.page-container {
  background-color: #000;
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #fff;
  padding: 0 200px 0;
}

.header {
  display:flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 45px 0 0;
}

.logo {
  padding: 0 0 40px 0;

}

.profile {
  padding: 40px 0 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 880px;
}

.profile__avatar {
  border-radius: 50%;
}

.profile__edit-box {
  padding: 0 0 0 30px;

}

.profile__name {
  font-size: 42px;
  line-height: 1.14;
  margin: 0;
}

.profile__edit-link {
  padding: 0 0 0 18px;

}

.profile__edit-image {
  border: 1px solid #FFFFFF;
  padding: 6px 6px;
}

.profile__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.83;
  margin: 0;
  padding: 16px 0 0 0;
}

.profile__add-link {
  padding: 0 0 0 144px;

}

.profile__add-image {
  border: 2px solid #FFFFFF;
  padding: 14px 64px;

}

.card__container {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  padding: 50px 0 0 0;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;

}

.card {
  background: #fff;
  color: #000;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  max-width: 282px;
  max-height: 361px;
}

card:last-of-type {
  margin-right: 0;
}

.card__image {
  border-radius: 10px 10px 0 0;
  margin: 0;
  padding: 0;
}

.card__caption {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.81;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 25px 15px 21px 31px;
  display: flex;
  justify-content: space-between;
}

.card__like-button {
  width: 21px;
  height: 19px;
  align-self: center;
}


.footer {
  padding: 67px 0 60px 0;
  color: #545454;
  margin: 0;
}

mobile profile name::after/* Group 1 */

position: absolute;
width: 224px;
height: 22px;
left: 48px;
top: 276px;



/* Edit Button */

position: absolute;
width: 18px;
height: 18px;
left: 254px;
top: 280px;



/* Rectangle */

position: absolute;
width: 18px;
height: 18px;
left: 254px;
top: 280px;

border: 1px solid #FFFFFF;
box-sizing: border-box;


/* Vector */

position: absolute;
left: 81.02%;
right: 16.64%;
top: 10.14%;
bottom: 89.6%;

background: #FFFFFF;


/* Jacques Cousteau */

position: absolute;
width: 196px;
height: 22px;
left: 48px;
top: 276px;

font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;
text-align: center;

color: #FFFFFF;



/* Header

opacity: 0.7;
border: 1px solid #545454;


Profile name
font-family: Inter;
font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 1.14;

color: #FFFFFF;
?
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height

color: #FFFFFF;*/

/* Card Title
font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;

color: #000000;
/Profile description
/* Explorer

position: absolute;
width: 415px;
height: 22px;
left: 350px;
top: 236px;

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height

color: #FFFFFF;*/


/*Form
 "Edit profile"

position: absolute;
width: 330px;
height: 23px;
left: 461px;
top: 229px;

font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;

color: #000000;*/

/* FORM Field 1
opacity: 0.2;
border: 1px solid #000000;
Jacques Cousteau

font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color: #000000;*/



