.card__caption {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.81;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 25px 15px 21px 31px;
  display: flex;
  justify-content: space-between;
}
