.modal__box {
  margin: 14vh auto;
  width: 430px;
  max-height: 330px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 800px) {
  .modal__box {
    margin: 24vh auto;
    width: 282px;
    max-height: 322px;
  }
}
